.Description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  color: var(--theme-color-text);
}

.Description-Position {
  font: var(--typo-big);
}

.Description-Company {
  color: var(--color-primary);
  font: var(--typo-big);
}

.Description-Period {
  font: var(--typo-body);
  color: var(--theme-color-text-grey);
}

.Description-Points {
  font: var(--typo-body);
  margin-top: 20px;
}

.Description-Points > li {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;

  gap: 5px;
}

.Description-Points > li:not(:last-child) {
  margin-bottom: 20px;
}

.Description-Points > li::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -2px;

  width: 0;
  height: 0;
  padding: 2px;

  color: var(--color-primary);
  border-style: solid;
  border-width: 0 2px 2px 0;
  
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); 
}