.Intro {
  gap: 24px;
}

.Intro-Title {
  color: var(--theme-color-text);
  font: var(--typo-h1);
  text-align: center;
}

.Intro-Description {
  padding: var(--padding-intro-description);
  color: var(--theme-color-text-grey);

  max-width: 800px;
}

.Intro-DescriptionText {
  font: var(--typo-lead);
  text-align: justify;
}

.Intro-DescriptionTags {
  margin-top: 24px;
  padding: 12px 0;
}