.Button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 21px;
  width: fit-content;

  cursor: pointer;
  white-space: nowrap;
  
  font: var(--typo-text);
  border-radius: 6px;
}

.Button:disabled {
  color: rgba(73, 125, 238, 0.5);
}

.Button__filled {
  border: none;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.Button__filled:not(:disabled):hover {
  background-color: var(--color-primary-light);
}

.Button__filled:not(:disabled):active {
  background-color: var(--color-primary-dark);
}

.Button__filled.Button:disabled {
  background-color: var(--color-white-dark);
}

.Button__outline {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.Button__outline:not(:disabled):hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.Button__outline:not(:disabled):active {
  background-color: var(--color-primary-dark);
}

.Button__outline.Button:disabled {
  border-color: var(--color-white-dark);
}