html,
body {
  max-width: 100vw;
  min-width: 320px;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: background-color var(--transition-small-time), color var(--transition-small-time);
}

body {
  padding: var(--padding-body);

  background-color: var(--theme-background-page);
}

a {
  color: inherit;
  text-decoration: none;
}