.Tab {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Tab-Information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Tab-InformationCompany {
  font: var(--typo-big);
  color: var(--color-text);
}

.Tab-InformationPosition {
  font: var(--typo-small);
  color: var(--color-text-grey);
}

@media screen and (max-width: 420px) {
  .Tab-Information {
    display: none;
  }
}