.Tab {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100%;
  padding: var(--padding-tab);

  cursor: pointer;
}

.Tab__active {
  background-color: var(--theme-background-tag);
}

.Tab-Information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Tab-InformationCompany {
  font: var(--typo-big);
  color: var(--theme-color-text);
}

.Tab-InformationPosition {
  font: var(--typo-small);
  color: var(--theme-color-text-grey);
}

@media screen and (max-width: 400px) {
  .Tab-Information {
    display: none;
  }
}