.WorksList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;

  width: 100%;
}

.WorksList-Card {
  flex: 1;
  justify-self: center;

  max-width: 580px;
}

@media screen and (max-width: 1080px) {
  .WorksList {
    grid-template-columns: repeat(1, 1fr);
  }
}